@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply h-full overflow-hidden;
    /* Prevent browser pull-to-refresh on mobile */
    overscroll-behavior-y: contain;
    /* Remove default gray highlight on taps in mobile */
    -webkit-tap-highlight-color: transparent;
    /* Improve scrolling performance */
    -webkit-overflow-scrolling: touch;
  }

  /* Custom Scrollbar for modern look */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-600;
  }
}
